.contentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card {
  width: 80%;
  margin-top: 10px;
}

.addNote {
  position: fixed !important;
  right: 2%;
  bottom: 2%;
}

.toggleDark {
  position: fixed !important;
  left: 2%;
  bottom: 2%;
}

.statCard {
  margin: 10px;
  width: 31%;
  min-width: 270px;
}

.statDiv {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
/*
classes for the css transitions fo cards
*/
.moveCard-enter {
  max-height: 0px !important;
  opacity: 0.1;
  transition: all 500ms ease-in !important;
}

.moveCard-enter-active {
  max-height: 1000px !important;
  opacity: 1;


}

.moveCard-exit {
  max-height: 1000px !important;
  opacity: 1;
  transition: all 500ms ease-out !important;
}

.moveCard-exit-active {
  max-height: 0px !important;
  opacity: 0.1;


}
