.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.statDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
}

.addNote {
  position: fixed !important;
  right: 2%;
  bottom: 2%;
}
/*
classes for the css transitions fo cards
*/
.moveCard-enter {
  max-height: 0px !important;
  opacity: 0.1;
}

.moveCard-enter-active {
  max-height: 1000px !important;
  opacity: 1;

  transition: all 500ms ease-in;
}

.moveCard-exit {
  max-height: 1000px !important;
  opacity: 1;
}

.moveCard-exit-active {
  max-height: 0px !important;
  opacity: 0.1;

  transition: all 500ms ease-out;
}
