.textEntry {
  margin: 5px;
}

.logo {
  height: 50px;
  margin: 10px;
}

.logoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.geekText {
  display: none;
}
.squadText {
  display: none;
}
.scopeText {
  display: none;
}
.workText {
  display: none;
}

@media only screen and (min-width: 430px) {
  .scopeText {
    display: inline;
  }
}
@media only screen and (min-width: 560px) {
  .workText {
    display: inline;
  }
}
@media only screen and (min-width: 670px) {
  .geekText {
    display: inline;
  }
}
@media only screen and (min-width: 780px) {
  .squadText {
    display: inline;
  }
}
